@import "bootstrap-sprockets";
@import "bootstrap";

// Chart Styling
path {
  stroke: steelblue; stroke-width: 2; fill: none;
}
.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/* Logo */
.navbar-brand-image img {
  height: 46px;
}

.stock-index{
  border: 1px solid #eaeaea;
  border-radius: 2px;
  padding: 5px 10px;
  margin-top: 6px;
}
